{% extends "layout.html" %}
{% block content %}
    <h1 class="page_tites" style="padding-bottom: 2rem;">All Users</h1>
    <table class="all-users-table">
        <tr>
            <th>USER ID</th>
            <th style="width: 15%;">FORENAME</th>
            <th style="width: 15%;">SURNAME</th>
            <th style="width:20%;">EMAIL</th>
            <th>DATE CREATED</th>
            <th style="text-align: center;">ADMIN</th>
            <th style="text-align: center;">ACTIONS</th>
        </tr>
        {% for user in users %}
            {% if current_user != user %}
                <tr>
                    <td>{{ user["id"] }}</td>
                    <td style="width: 15%;">{{ user["forename"] }}</td>
                    <td style="width: 15%;">{{ user["surname"] }}</td>
                    <td style="width: 20%;">{{ user["email"] }}</td>
                    <td>{{ user["date_created"] }}</td>
                    <td style="text-align: center;">
                        {% if user.admin %}
                                <button type="button" class="all-users-buttons all-users-button-admin" type="button" onclick="document.getElementById('remove-admin-modal {{ user.id }}').style.display='block'">Remove Admin</button>
                                <div id='remove-admin-modal {{ user.id }}' class="modal">
                                    <form class="modal-content" action='{{ url_for("users.update_admin_role", user_id=user.id, admin=user.admin) }}' method=post>
                                      <div class="modal-container">
                                        <span onclick="document.getElementById('remove-admin-modal {{ user.id }}').style.display='none'" class="close" title="Close">&times;</span>
                                        <h1>Remove User Admin Rights?</h1>
                                        <p>Are you sure you want to remove this user's admin priviliedges?</p>
                                  
                                        <div class="clearfix">
                                            <button type="button" class="cancelbtn" onclick="document.getElementById('remove-admin-modal {{ user.id }}').style.display='none'" class="close" title="Cancel">Cancel</button>
                                            <input type=submit class="deletebtn" value="Remove Admin">
                                        </div>
                                      </div>
                                    </form>
                                </div>
                        {% else %}
                            <button type="button" class="all-users-buttons all-users-button-admin" type="button" onclick="document.getElementById('make-admin-modal {{ user.id }}').style.display='block'">Make Admin</button>
                            <div id='make-admin-modal {{ user.id }}' class="modal">
                                <form class="modal-content" action='{{ url_for("users.update_admin_role", user_id=user.id, admin=user.admin) }}' method=post>
                                  <div class="modal-container">
                                    <span onclick="document.getElementById('make-admin-modal {{ user.id }}').style.display='none'" class="close" title="Close">&times;</span>
                                    <h1>Give User Admin Rights?</h1>
                                    <p>Are you sure you want to give this user admin priviledges?</p>
                              
                                    <div class="clearfix">
                                        <button type="button" class="cancelbtn" onclick="document.getElementById('make-admin-modal {{ user.id }}').style.display='none'" class="close" title="Cancel">Cancel</button>
                                        <input type=submit class="deletebtn" value="Make Admin">
                                    </div>
                                  </div>
                                </form>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="user-block" style="text-align: center;">
                            <form action='{{ url_for("users.profile", user_id=user.id) }}' method=get style="padding-left: 1rem;">
                                <input class="all-users-buttons all-users-button-edit" type=submit value="Edit">
                            </form>
                            <button class="all-users-buttons all-users-button-delete" type="button" onclick="document.getElementById('delete-modal {{ user.id }}').style.display='block'">Delete</button>
                            <div id='delete-modal {{ user.id }}' class="modal">
                                <form class="modal-content" action='{{ url_for("users.delete_user", user_id=user.id) }}' method=post>
                                  <div class="modal-container">
                                    <span onclick="document.getElementById('delete-modal {{ user.id }}').style.display='none'" class="close" title="Close">&times;</span>
                                    <h1>Delete User Account</h1>
                                    <p>Are you sure you want to delete this account?</p>
                              
                                    <div class="clearfix">
                                        <button type="button" class="cancelbtn" onclick="document.getElementById('delete-modal {{ user.id }}').style.display='none'" class="close" title="Cancel">Cancel</button>
                                        <input type=submit class="deletebtn" value="Delete">
                                    </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock content %}