{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center; font-family: sans-serif; color: whitesmoke;">Non-Favourable Ratings</h1>
    <div style=" display: grid; grid-template-columns: auto auto auto auto;">
        {% for movie in movies %}
            <div class="image-container">
                <a href="{{ url_for('search_for_movie', name=movie.title, year=movie.year) }}">
                    <img style="width: auto; height: auto; margin: auto; max-width:600px; max-height:600px; display: block; border: 2px solid black;" src="{{ movie.movie_image }}">
                    <div class="overlay">{{ movie["title"] }} ({{ movie["year"] }})</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}