{% extends "layout.html" %}
{% block content %}
    <div class="page_content">
        <div style="display: inline-block; text-align: center;">
            <div class="movie-heading">
                <h1 class="page_tites" style="padding-bottom: 1rem;"><b>{{ movie.title }}</b> ({{ movie.year }}) </h1>
                    {% if current_user.is_authenticated %}
                        {% if watchlist_entry %}
                            <form action='{{ url_for("users.delete_from_watchlist", user_id=current_user.id, movie_id=movie.movieId, name=movie.title, year=movie.year) }}' method=post>
                                <button type="submit" name="remove_movie" style="border: none; background: none;">
                                    <span title="Remove from watchlist"><i class="fa fa-trash trash-button" style="font-size: 25px; margin-left: 1rem;"></i></span>
                                </button>
                            </form>
                        {% else %}
                            <form action='{{ url_for("users.add_to_watchlist", user_id=current_user.id, movie_id=movie.movieId, name=movie.title, year=movie.year) }}' method=post>
                                <button type="submit" name="add_movie" style="border: none; background: none;">
                                    <span title="Add to watchlist"><i class="fa fa-plus-square trash-button" style="font-size: 25px; margin-left: 1rem;"></i></span>
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
            </div>
            
            <div class="movie-page-rating-section">
                <div class="rating-block" style="position: relative; padding-bottom: 3rem; ">
                    <img class="movie-page-image" src="{{ image }}">
                    <div style="padding-top: 1rem;">
                        <span title="Overall Weighted Rating"><div class="rating-circle movie-page-rating-circle">{{ (movie["average_rating"]|string).rstrip('0').rstrip('.') }}</div></span>
                        <div style="display: inline-block; text-align: left; margin-right: 1rem;">
                            <ul class="movie-page-individual-ratings">
                                {% if movie.imdb_url %}
                                    <span title="View on IMDb"><li><a class="rating-hrefs" href="{{ movie['imdb_url'] }}" target="_blank"><b>IMDb: {{ (movie["imdb_rating"]|string).rstrip('0').rstrip('.') }}</b></a></li></span>
                                {% else %}
                                    <li><b>IMDb: {{ (movie["imdb_rating"]|string).rstrip('0').rstrip('.') }}</b></li>
                                {% endif %}
                                {% if movie.metacritic_url %}
                                    <span title="View on Metacritic"><li><a class="rating-hrefs" href="{{ movie['metacritic_url'] }}" target="_blank"><b>Metascore: {{ (movie["metascore"]|string).rstrip('0').rstrip('.') }}</b></a></li></span>
                                {% else %}
                                    <li><b>Metascore: {{ (movie["metascore"]|string).rstrip('0').rstrip('.') }}</b></li>
                                {% endif %}
                                {% if movie.rotten_tomatoes_url %}
                                    <span title="View on Rotten Tomatoes"><li><a class="rating-hrefs" href="{{ movie['rotten_tomatoes_url'] }}" target="_blank"><b>Tomatometer: {{ (movie["tomatometer"]|string).rstrip('0').rstrip('.') }}</b></a></li></span>
                                {% else %}
                                    <li><b>Tomatometer: {{ (movie["tomatometer"]|string).rstrip('0').rstrip('.') }}</b></li>
                                {% endif %}
                                {% if movie.rotten_tomatoes_url %}
                                    <span title="View on Rotten Tomatoes"><li><a class="rating-hrefs" href="{{ movie['rotten_tomatoes_url'] }}" target="_blank"><b>Audience Score: {{ (movie["audience_score"]|string).rstrip('0').rstrip('.') }}</b></a></li></span>
                                {% else %}
                                    <li><b>Audience Score: {{ (movie["audience_score"]|string).rstrip('0').rstrip('.') }}</b></li>
                                {% endif %}
                                {% if movie.letterboxd_url %}
                                    <span title="View on Letterboxd"><li><a class="rating-hrefs" href="{{ movie['letterboxd_url'] }}" target="_blank"><b>Letterboxd: {{ (movie["letterboxd_rating"]|string).rstrip('0').rstrip('.') }}</b></a></li></span>
                                {% else %}
                                    <li><b>Letterboxd: {{ (movie["letterboxd_rating"]|string).rstrip('0').rstrip('.') }}</b></li>
                                {% endif %}
                                {% if movie.tmdb_url %}
                                    <span title="View on TMDb"><li><a class="rating-hrefs" href="{{ movie['tmdb_url'] }}" target="_blank"><b>TMDb: {{ (movie["tmdb_rating"]|string).rstrip('0').rstrip('.') }}</b></a></li></span>
                                {% else %}
                                    <li><b>TMDb: {{ (movie["tmdb_rating"]|string).rstrip('0').rstrip('.') }}</b></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <p class="movie-page-synopsis">
                        {{ movie["synopsis"] }}
                    </p>
                </div>  
            </div>
        </div>    
    </div>
{% endblock content %}