{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center; font-family: sans-serif;">Search movies by year</h1>
    <form method="POST" action="" class="form-control" style="margin-left: auto; margin-right: auto; width: 55%;">
        {{ year_form.hidden_tag() }}
        <div style="padding-right: 2rem;">
            {% if year_form.movie_year.errors %}
                {{ year_form.movie_year }}
                <div>
                    {% for error in year_form.movie_year.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ year_form.movie_year }}
            {% endif %}
        </div>
        <div>
            {{ year_form.submit_year }}
        </div>
    </form>
    {% if year %}
        {% if movies %}
            {% for movie in movies %}
                <div style="padding-top: 4rem;"><p style="font-family: sans-serif;">Title: <a href="{{ url_for('search_for_movie', name=movie.title, year=movie.year) }}"><b>{{ movie["title"] }}</b></a>, Year: <b>{{ movie["year"] }}</b>, IMDB: <b>{{ movie["imdb_rating"] }}</b>, Metascore: <b>{{ movie["metascore"] }}</b>, Tomatometer: <b>{{ movie["tomatometer"] }}</b>, Audience Score: <b>{{ movie["audience_score"] }}</b>, Letterboxd: <b>{{ movie["letterboxd_rating"] }}</b>, Tmdb: <b>{{ movie["tmdb_rating"] }}</b>, Average: <b>{{ movie["average_rating"] }}</b>, Image: <b>{{ movie["movie_image"] }}</b>, Synopsis: <b>{{ movie["synopsis"] }}</b>, Update date: <b>{{ movie["date_updated"] }}</b></p></div>
            {% endfor %}
        {% else %}
            <h2 style="text-align: center; padding-top: 4rem;">0 Results found for '{{ year }}'</h2>
        {% endif %}
    {% endif %}
{% endblock content %}