{% extends "layout.html" %}
{% block content %}
    <h1 class="page_tites">Search movies by year</h1>
    <form method="POST" action="" class="form-control year-form">
        {{ year_form.hidden_tag() }}
        <div style="padding-right: 2rem;">
            {% if year_form.movie_year.errors %}
                {{ year_form.movie_year(class_="year-form-control") }}
                <div>
                    {% for error in year_form.movie_year.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ year_form.movie_year(class_="year-form-control") }}
            {% endif %}
        </div>
        <div>
            <button type="submit" class="results-search-button"><i class="fa fa-search" style="text-align: center;"></i></button>
        </div>
    </form>
    {% if year %}
        {% if count == 1 %}
            <h2 class="year_search_results">{{count}} Result found for year '{{year}}'</h2>
        {% else %}
            <h2 class="year_search_results">{{count}} Results found for year '{{year}}'</h2>
        {% endif %}
        {% if movies %}
        <div class="movie-page-grid">
            {% for movie in movies %}
                <div class="image-container" style="margin-right: 1rem;">
                    <span title="View Movie Details">
                        <a href="{{ url_for('movies.search_for_movie', name=movie.title, year=movie.year) }}" style="display: inline-block;">
                            <img style="width: auto; height: auto; margin: auto; max-width:450px; max-height:450px; display: block; border: 2px solid black;" src="{{ movie.movie_image }}">
                            <div class="overlay">
                                {% if current_user.is_authenticated %}
                                    {% if movie in watchlist_entries %}
                                        <form action='{{ url_for("users.delete_from_watchlist", user_id=current_user.id, movie_id=movie.movieId, name=movie.title, year=movie.year) }}' method=post style="float: right;">
                                            <button type="submit" name="remove_movie" style="border: none; background: none;">
                                                <span title="Remove from watchlist"><i class="fa fa-trash trash-button" style="font-size: 1.5rem;"></i></span>
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action='{{ url_for("users.add_to_watchlist", user_id=current_user.id, movie_id=movie.movieId, name=movie.title, year=movie.year) }}' method=post style="float: right;">
                                            <button type="submit" name="add_movie" style="border: none; background: none;">
                                                <span title="Add to watchlist"><i class="fa fa-plus-square trash-button" style="font-size: 1.5rem;"></i></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                                <div class="movie-grid-titles">
                                    <div style=" font-size: 1.1rem; float: left;">{{ movie["title"] }} ({{ movie["year"] }})</br></div>
                                </div>
                                <span title="Overall Weighted Rating">
                                    {% if movie.average_rating >= 60 %}
                                        <div class="rating-circle" style="width: 140px; height: 140px; line-height: 140px; font-size: 40px; border: 2px solid black; margin-top: 2rem;">{{ (movie["average_rating"]|string).rstrip('0').rstrip('.') }}</div>
                                    {% else %}
                                        <div class="rating-circle" style="width: 140px; height: 140px; line-height: 140px; font-size: 40px; border: 2px solid black; margin-top: 2rem; background-color: red;">{{ (movie["average_rating"]|string).rstrip('0').rstrip('.') }}</div>
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </span>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
{% endblock content %}