{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center; font-family: sans-serif; color: whitesmoke;">Search movies by year</h1>
    <form method="POST" action="" class="form-control" style="margin-left: auto; margin-right: auto; width: 55%;">
        {{ year_form.hidden_tag() }}
        <div style="padding-right: 2rem;">
            {% if year_form.movie_year.errors %}
                {{ year_form.movie_year }}
                <div>
                    {% for error in year_form.movie_year.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ year_form.movie_year }}
            {% endif %}
        </div>
        <div>
            {{ year_form.submit_year }}
        </div>
    </form>
    {% if year %}
        <h1 style="text-align: center; padding-top: 6rem; color: whitesmoke;">{{count}} Results found for year '{{year}}'</h1>
        {% if movies %}
            <div style=" display: grid; grid-template-columns: auto auto auto auto;">
                {% for movie in movies %}
                    <div class="image-container">
                        <a href="{{ url_for('search_for_movie', name=movie.title, year=movie.year) }}">
                            <img style="width: auto; height: auto; margin: auto; max-width:600px; max-height:600px; display: block; border: 2px solid black;" src="{{ movie.movie_image }}">
                            <div class="overlay">{{ movie["title"] }} ({{ movie["year"] }})</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}