{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center; font-family: sans-serif; color: whitesmoke;">Welcome!</h1>
    <p style="font-family: sans-serif; font-weight: bold; text-align: center;">This site allows you to compare ratings for your favourite movies from movie review sites such as IMDB, Rotten Tomatoes, Metacritic, Letterboxd and TMDB.</br>An average rating analytic will also be calculated so you dont have to compare ratings from each site individually!</p>
{% endblock content %}