<!doctype html>
<html>
    <head>
        <link rel='stylesheet' href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% if title %}
            <title>{{ title }} - Movie Rating Aggregator</title>
        {% else %}
            <title>Movie Rating Aggregator</title>
        {% endif %}
    </head>
    <body class="container">
        <div class="content">
            <header class="header">
                <h1><a href="{{ url_for('get_all_movies') }}"><i class="fa fa-film" style="padding-right: 2rem; font-size: 55px;"></i>Movie Rating Aggregator</a></h1>
                <form method="POST" action="" class="form-control">
                    {{ search_form.hidden_tag() }}
                    <div style="padding-right: 2rem;">
                        {% if search_form.movie_title.errors %}
                            {{ search_form.movie_title(class_="title-search-control") }}
                        {% else %}
                            {{ search_form.movie_title(class_="title-search-control") }}
                        {% endif %}
                    </div>
                    <div>
                        <button type="submit" class="title-search-button"><i class="fa fa-search" style="text-align: center;"></i></button>
                    </div>
                </form>
            </header>
            <div class="sidebar-container">
                <div class="sidebar">
                    <h1><i class="fa fa-bars"></i> Menu</h1>
                    <ul>
                        <button class="dropdown-btn">Movies 
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <li><a href="{{ url_for('get_all_movies') }}">All Movies</a></li>
                            <li><a href="{{ url_for('get_high_to_low_ratings') }}">High-to-Low</a></li>
                            <li><a href="{{ url_for('get_low_to_high_ratings') }}">Low-to-High</a></li>
                            <li><a href="{{ url_for('get_favourable_reviews') }}">Favourable</a></li>
                            <li><a href="{{ url_for('get_nonfavourable_reviews') }}">Non-Favourable</a></li>
                            <li><a href="{{ url_for('get_top10_movies') }}">Top 10</a></li>
                            <li><a href="{{ url_for('search_movies_by_year') }}">Search By Year</a></li>
                        </div>
                        {% if current_user.is_authenticated %}
                            {% if current_user.admin %}
                                <button class="dropdown-btn">Admin 
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-container">
                                    <li><a href="{{ url_for('get_all_users') }}", style="padding-left: 0.5rem;">All Users
                                        <i class="fa fa-user" style="float: left;"></i>
                                    </a></li>
                                </div>
                            {% endif %}
                            <button class="dropdown-btn">User 
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-container">
                                <li><a href="{{ url_for('profile', user_id=current_user.id) }}", style="padding-left: 0.5rem;">Profile
                                    <i class="fa fa-user" style="float: left;"></i>
                                </a></li>
                                <li><a href="{{ url_for('get_watchlist', user_id=current_user.id) }}", style="padding-left: 0.5rem;">Watchlist
                                    <i class="fa fa-eye", style="float: left;"></i>
                                </a></li>
                            </div>
                            <li>
                                <button class="logout-button" onclick="document.getElementById('logout-modal').style.display='block'">Logout <i class="fa fa-sign-out" style="float: left; padding-right: 0.5rem;"></i></button>
                            </a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}" style="padding-left: 0.5rem;">Login <i class="fa fa-sign-out" style="float: left; padding-left: 0.5rem;"></i></a></li>
                            <li><a href="{{ url_for('register') }}" style="padding-left: 0.5rem;">Register <i class="fa fa-user-plus" style="float: left; padding-left: 0.5rem;"></i></a></li>
                        {% endif %}
                        <li><a href="{{ url_for('help') }}" style="padding-left: 0.5rem;">Help <i class="fa fa-question-circle" style="float: left; padding-left: 0.5rem;"></i></a></li>
                    </ul>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id="flash-messages" class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="body">
                <div>
                    <div id="logout-modal" class="modal">
                        <form class="modal-content" action='{{ url_for("logout") }}' method=get>
                        <div class="modal-container" style="font-family: sans-serif;">
                            <span onclick="document.getElementById('logout-modal').style.display='none'" class="close" title="Close">&times;</span>
                            <h1 style="color: black;">Logout</h1>
                            <p>Are you sure you want to log out of your account?</p>
                    
                            <div class="clearfix">
                                <button type="button" class="cancelbtn" onclick="document.getElementById('logout-modal').style.display='none'" class="close" title="Cancel">Cancel</button>
                                <input type=submit class="deletebtn" value="Logout">
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </body>
    </div>
</html>

<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script type="text/javascript">window.setTimeout("document.getElementById('flash-messages').style.display='none';", 3000); </script>