{% extends "layout.html" %}
{% block content %}
    <h1  class="page_tites" style="padding-bottom: 2rem;">Register</h1>
    <div style="text-align: center;">
        <div style="float: left; position: relative; left: 50%;">
            <div style="float: left; position: relative; left: -50%;">
                <form method="POST" action="">
                    {{ register_form.hidden_tag() }}
                    <div style="color: whitesmoke;">
                        {% if register_form.forename.errors %}
                            {{ register_form.forename(class_="register-form-control") }}
                            <div class="form-errors">
                                {% for error in register_form.forename.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.forename(class_="register-form-control") }}
                        {% endif %}
                    </div>
                    <div style="color: whitesmoke;">
                        {% if register_form.surname.errors %}
                            {{ register_form.surname(class_="register-form-control") }}
                            <div class="form-errors">
                                {% for error in register_form.surname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.surname(class_="register-form-control") }}
                        {% endif %}
                    </div>
                    <div style="color: whitesmoke;">
                        {% if register_form.email.errors %}
                            {{ register_form.email(class_="register-form-control") }}
                            <div class="form-errors">
                                {% for error in register_form.email.errors %}
                                    <span style="color: whitesmoke; font-family: sans-serif; padding-bottom: 2rem; background-color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.email(class_="register-form-control") }}
                        {% endif %}
                    </div>
                    <div style="color: whitesmoke;">
                        {% if register_form.password.errors %}
                            {{ register_form.password(class_="register-form-control") }}
                            <div class="form-errors">
                                {% for error in register_form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.password(class_="register-form-control") }}
                        {% endif %}
                    </div>
                    <div style="color: whitesmoke;">
                        {% if register_form.password_confirmation.errors %}
                            {{ register_form.password_confirmation(class_="register-form-control") }}
                            <div class="form-errors">
                                {% for error in register_form.password_confirmation.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ register_form.password_confirmation(class_="register-form-control") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ register_form.register_button(class_="register-form-button") }}
                    </div>
                </form>
                <div style="text-align: left; padding-left: 0.5rem;">
                    <small>
                        <a href="{{ url_for('users.login')  }}" class="all-small">Already have an account?</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}