{% extends "layout.html" %}
{% block content %}
    <h1  class="page_tites" style="padding-bottom: 2rem;">Request Password Reset</h1>
    <div style="text-align: center;">
        <div style="float: left; position: relative; left: 50%;">
            <div style="float: left; position: relative; left: -50%;">
                <form method="POST" action="">
                    {{ reset_form.hidden_tag() }}
                    <div style="color: whitesmoke; font-family: sans-serif; font-weight: bold;">
                        {% if reset_form.email.errors %}
                            {{ reset_form.email(class_="login-form-control") }}
                            <div class="form-errors">
                                {% for error in reset_form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ reset_form.email(class_="login-form-control") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ reset_form.request_reset_button(class_="login-form-button") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}