.header {
    background-color: #202020;
    padding: 0rem 2rem 0rem;
    margin-left: 205px;
    display:block;
    min-height: 4rem;
    position: sticky;
  }

.header h1 {
    padding-left: 3rem;
    font-family: sans-serif;
    display: inline-flex;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    position: static;
}

.header form {
  padding-top: 2.5rem;
}

.header-logo {
  padding-right: 2rem;
  font-size: 45px;
}

.header a {
    font-family: sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.header a:hover {
    color: red;
}

.sidebar {
  margin: 0;
  width: 205px;
  background-color:#181818;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
}

.sidebar h1 {
  font-family: sans-serif;
  padding-left: 2rem;
  padding-bottom: 1rem;
  color: whitesmoke;
}

.sidebar ul {
  padding-left: 2rem;
  display: inline-flexbox;
}

.sidebar li {
  list-style-type: none;
  font-size: 20px;
  padding-bottom: 2rem;
}

.sidebar a {
  font-family: sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.sidebar a:hover {
  color: red;
}

.sidenav a, .dropdown-btn {
  text-decoration: none;
  border: none;
  font-size: 20px;
  color: whitesmoke;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-right: 3rem;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: red;
}

/* Add an active class to the active dropdown button */
.active {
  color: red;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #202020;
  float: left;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  color: whitesmoke;
  padding-left: 0.5rem;
}

.fa-caret-down:active {
  color: red;
}

.fa-caret-down:hover {
  color: red;
}

.fa-home {
  float: left;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  
}

.content {
  flex-grow: 1;
  background-color: #303030;
  display: inline-block;
  overflow-x: hidden;
  
}

.body {
  margin-left: 205px;
  padding-left: 0.8rem;
  background-color: #303030;
  width: 89%;
}

/* Form control */

.title-search-control {
  width: 110%;
  height: 25px;
  padding-right: 1rem;
  border: 2px solid black;
}

.title-search-button {
  height: 31px;
  border: 2px solid black;
  margin-left: 1rem;
  background-color: gray;
  font-weight: bold;
}

.title-search-button:hover {
  background-color: red;
}

.login-form-button {
  width: 100%;
  height: 30px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid black;
  background-color: gray;
}

.login-form-button:hover {
  background-color: red;
}

.login-form-control {
  width: 400px;
  height: 25px;
  padding-right: 1rem;
  border: 2px solid black;
  margin-bottom: 1.5rem;
}

.register-form-control {
  width: 400px;
  height: 25px;
  padding-right: 1rem;
  border: 2px solid black;
  margin-bottom: 1.5rem;
}

.register-form-button {
  width: 100%;
  height: 30px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid black;
  background-color: gray;
}

.register-form-button:hover {
  background-color: red;
}

.profile-label-control {
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  padding-bottom: 0.1rem;
}

.profile-form-control {
  width: 400px;
  height: 25px;
  padding-right: 1rem;
  border: 2px solid black;
  margin-bottom: 1.5rem;
}

.profile-form-button {
  width: 100%;
  height: 30px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  border: 2px solid black;
  background-color: gray;
}

.profile-form-button:hover {
  background-color: red;
}

.results-form-control {
  width: 100%;
  height: 25px;
  border: 2px solid black;
  margin-bottom: 1.5rem;
}

.results-search-button {
  height: 31px;
  border: 2px solid black;
  background-color: gray;
  font-weight: bold;
}

.results-search-button:hover {
  background-color: red;
}

.year-form-control {
  width: 100%;
  height: 25px;
  border: 2px solid black;
  margin-bottom: 1.5rem;
}

.year-form {
  margin-left: auto;
  margin-right: auto; 
  width: 55%;
}

.year-search-button {
  height: 31px;
  border: 2px solid black;
  background-color: gray;
  font-weight: bold;
}

.form-control {
  float: right;
  display: inline-flex;
  padding-right: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.form-item {
  padding-right: 2rem;
}

.page_tites {
  text-align: center;
  font-family: sans-serif; 
  color: whitesmoke;
}

.movie_page_title {
  text-align: center;
  font-family: sans-serif; 
  color: whitesmoke;
}

.page_content {
  text-align: center;
}

/* Overlay effect for movie images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: whitesmoke;
  height: 91.5%;
  width: 88.2%;
  transition: .3s ease;
  opacity:0;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

/* Fade into overlay title when mouse over container */
.image-container:hover .overlay {
  opacity: 1;
}

/* Container needed to position the overlay. Adjust the width as needed */
.image-container {
  position: relative;
  width: 100%;
  max-width: 324px;
  padding-bottom: 1rem;
  padding-left: 0rem;
}

/* style flash messages */
.flash-success {
  background-color: green;
  color: whitesmoke;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 205px;
  padding-left: 0.8rem;
  font-size: 30px;
}  

.flash-danger {
  background-color: red;
  color: whitesmoke;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 205px;
  padding-left: 0.8rem;
  font-size: 30px;
}

/* background circle for ratings */
.rating-circle {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  background: rgb(22, 192, 22);
  font-family: sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

/* button to remove film from watchlist */
.trash-button {
  float: right; 
  color: whitesmoke;
  font-size: 28px;
}

.trash-button:hover {
  color: red;
}

/* heading for movie page */
.movie-heading {
  padding-bottom: 1rem;
}

.movie-heading h1, .movie-heading form {
  display:inline-block;
  text-align: center;
}

.rating-block {
  padding-bottom: 1rem;
  width: 200%;
}

.rating-block div, .rating-block ul {
  display:inline-flexbox;
  float:left;
}

.user-block {
  
}

.user-block form {
  display:inline-block;
  text-align: center;
}

.all-users-table {
  color: whitesmoke;
  font-family: sans-serif;
  width: 100%;
  text-align: left;
}

.all-users-table th, .all-users-table td {
  border-bottom: 1px solid #ddd;
}

/* confirmation popup */

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  height: 30px;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: gray;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: gray;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid black;
}

.cancelbtn:hover, .deletebtn:hover {
  background-color: red;
}

/* Add padding and center-align text to the container */
.modal-container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
  padding-left: 8rem;
}

/* Modal Content/Box */
.modal-content {
  background-color: whitesmoke;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid black;
  width: 40%; 
  font-family: sans-serif;
  color: black;
}

/* Style horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* style for modal close button (x) */
.close {
  font-size: 40px;
  font-weight: bold;
  color: black;
  float: right;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

/* Logout button */
.logout-button {
  padding-left: 0.5rem;
  background-color: transparent; 
  outline: none; 
  border: none; 
  font-size: 20px; 
  font-family: sans-serif; 
  color: whitesmoke; 
  font-weight: bold;
}

.logout-button:hover {
  color: red;
}

/* button styles for all users page */

.all-users-buttons {
  width: 100px;
  outline: none;
  border: 1px solid black;
  font-weight: bold;
  height: 30px;
  font-family: sans-serif;
}

.all-users-button-delete {
  background-color: red;
}

.all-users-button-edit {
  background-color: green;
}

.all-users-buttons:hover {
  border: 3px solid black;
}

.all-users-button-admin {
  background-color: #4682B4;
  width: 120px;
}

/* styling for rating site hrefs */
.rating-hrefs-positive {
  text-decoration: none;
  color: whitesmoke;
} 

.rating-hrefs-positive:hover {
  color: rgb(22, 192, 22);
}

.rating-hrefs-negative {
  text-decoration: none;
  color: whitesmoke;
}

.rating-hrefs-negative:hover {
  color: red;
}

.all-small {
  color: whitesmoke;
  text-decoration: none; 
  padding-top: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.8rem;
}

.all-small:hover {
  color: red;
}

/* Movie page styles */
.movie-page-rating-section {
  margin-bottom: 5rem;
  margin: 0 auto;
  position: relative;
}

.movie-page-image {
  width: auto;
  height: auto; 
  max-width:450px; 
  max-height:450px; 
  display: inline; 
  border: 2px solid black; 
  margin-right: 3rem;
  float: left;
  text-align: left;
}

.movie-page-rating-circle {
  width: 170px; height: 170px; line-height: 170px; font-size: 60px; border: 3px solid black; margin: 0rem;
}

.movie-page-individual-ratings {
  list-style-type: none;
  color: whitesmoke; 
  font-family: sans-serif; 
  margin: 0 auto; 
  font-size: 1.2rem; 
  line-height: 1.6; 
  padding-bottom: 2rem;
}

.movie-page-synopsis {
  font-family: sans-serif;
  color: whitesmoke; 
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.8rem; 
  max-width: 600px; 
  padding-left: 10rem; 
  margin-right: 0;
}

.movie-page-grid {
  display: grid; grid-template-columns: auto auto auto auto; float: left; padding-left: 7.5rem;
}

.movie-grid-titles {
  padding-bottom: 5rem;
}

/* Results page */
.results-form {
  margin-left: auto;
  margin-right: auto; 
  width: 64%; 
  padding-top: 1rem;
}

.results-text {
  text-align: center;
  padding-top: 5rem; 
  color: whitesmoke; 
  font-family: sans-serif;
  padding-right: 5rem;
}

/* Form errors */
.form-errors {
  color: whitesmoke; 
  font-family: sans-serif; 
  background-color: red;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

/* loading overlay modal when searching for new movie */

/* Add padding and center-align text to the container */
.loading-modal-container {
  text-align: center;
  padding-top: 10rem;
  padding-left: 6rem;
}

.loading-modal-container img {
  width: 300px;
  padding-left: 4rem;
}

/* The Modal (background) */
.loading-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top of other content */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background: rgba(0, 0, 0, 0.7);
}

/* Modal Content/Box */
.loading-modal-content {
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 100%; 
  font-family: sans-serif;
  color: whitesmoke;
  font-weight: bold;
  font-size: 10px;
  opacity: 1;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.movie-icon-style {
  font-size: 25px; margin-left: 1rem;
}

.year_search_results {
  text-align: center; padding-top: 6rem; color: whitesmoke; font-family: sans-serif;
}

.help {}

.register_small_text {
  text-align: left; padding-left: 0.5rem;
}

/* Tool tip */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-weight: bold;
  font-family: sans-serif;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Deal with minimising browser */
@media screen and (max-width: 1620px) {
  .movie-page-grid {
    display: grid; grid-template-columns: auto auto auto;
  }

  .all-users-table {
    width: 90%;
  }

}

@media screen and (max-width: 1400px) {
  .all-users-table {
    width: 80%;
  }
}

@media screen and (max-width: 1320px) {
  .movie-page-grid {
    display: grid; grid-template-columns: auto auto;
  }

}

@media screen and (max-width: 1200px) {
  .all-users-table {
    width: 50%;
  }
}


@media screen and (max-width: 1200px) {

  .header {
    padding-left: 0;
  }

  .movie-page-grid {
    display: grid; grid-template-columns: auto auto; float: left; padding-left: 10rem;
  }

  .page_tites {
    padding-right: 5rem;
  }
}

@media screen and (max-width: 1173px) {

  .header form {
    padding-top: 0rem;
  }

  .header {
    height: 9rem;
  }

}

@media screen and (max-width: 1100px) {

  .page_content {
    text-align: center;
    float: left;
  }

  .movie-page-image {
    margin-right: 0.9rem;
  }

  .movie-page-synopsis {
    font-size: 1.4rem;
    line-height: 1.8rem; 
    max-width: 550px; 
  }

  .movie-page-grid {
    display: grid; grid-template-columns: auto auto; float: left; padding-left:4rem;
  }

  .results-form {
    margin-right: 6rem;
  }

  .year-form {
    margin-left: auto;
    margin-right: auto; 
    width: 65%;
  }

  .year_search_results {
    margin-right: 6rem;
  }

  .page_tites {
   margin-right: 2rem;
  }

  .loading-modal-content {
    padding-left: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .results-form {
    float: left;
    padding-left: 10rem;
  }

  .results-text {
    float: left;
    padding-left: 8rem;
    padding-top: 0;
  }

  .movie-page-grid {
    display: grid; grid-template-columns: auto auto; float: left; padding-left: 4rem;
  }

  .page_tites {
    padding-right: 6rem;
  }

  .year-form {
    margin-left: auto;
    margin-right: auto; 
    width: 69%;
  }

  .year_search_results {
    text-align: center;
    padding-top: 6rem; 
    color: whitesmoke; 
    font-family: sans-serif;
    padding-right: 7rem;
  }

  .profile-form-control {
    width: 400px;
    height: 25px;
    padding-right: 1rem;
    margin-right: 7rem;
    border: 2px solid black;
    margin-bottom: 1.5rem;
  }

  .profile-form-button {
    width: 79%;
    height: 30px;
  }

  .results-text {
    float: left;
    padding-left: 10rem;
    padding-top: 0;
  }

  .help {
    padding-right: 6rem;
  }

  .login-form-control {
    width: 400px;
    height: 25px;
    padding-right: 1rem;
    border: 2px solid black;
    margin-bottom: 1.5rem;
    margin-right: 8rem;
  }

  .login-form-button {
    width: 77%;
    height: 30px;
    margin-right: 8rem;
  }

  .register-form-control {
    width: 400px;
    height: 25px;
    margin-right: 8rem;
  }
  
  .register-form-button {
    width: 77%;
    margin-right: 8rem;
  }


}

@media screen and (max-width: 950px) {
  .header h1 {
    font-size: 30px;
  }

  .header-logo {
    font-size: 35px;
  }

  .movie-page-rating-circle {
    width: 120px; 
    height: 120px;
    line-height: 120px; 
    font-size: 40px; 
    border: 3px solid black; 
    margin: 0rem;
    float: left;
  }

  .movie-page-image {
    width: auto;
    height: auto; 
    max-width:350px; 
    max-height:350px; 
    display: grid; 
    border: 2px solid black; 
    margin-right: 1rem;
  }

  .movie-page-individual-ratings {
    list-style-type: none;
    color: whitesmoke; 
    font-family: sans-serif; 
    margin: 0 auto; 
    font-size: 1.1rem; 
    line-height: 1.3; 
    padding-bottom: 2rem;
  }

  .movie-page-synopsis {
    font-family: sans-serif;
    color: whitesmoke; 
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.4rem; 
    max-width: 600px; 
    padding-left: 0rem; 
    margin-right: 0;
    padding-bottom: 0;
  }

  .movie-page-grid {
    display: grid;
    grid-template-columns: auto auto; 
    float: left; 
    padding-left: 2.5rem;
  }

  .page_tites {
    padding-right: 9rem;
  }
}

@media screen and (max-width: 900px) {
  .header h1 {
    font-size: 30px;
  }

  .header-logo {
    font-size: 35px;
  }

  .movie-page-grid {
    display: grid;
    grid-template-columns: auto auto; 
    float: left; 
    padding-left: .5rem;
  }
}

@media all and (max-width:880px) {
  .movie-page-grid {
    display: grid;
    grid-template-columns: auto auto; 
    float: left;
  }
}

@media all and (max-width:800px) {

  .year-form {
    float: left;
    padding-left: 10rem;
  }

  .results-form {
    float: left;
    padding-left: 0rem;
  }

  .results-text {
    float: left;
    padding-left: 0rem;
    padding-top: 0;
  }

  .page_content {
    text-align: center;
    float: left;
  }

  .movie-page-synopsis {
    font-family: sans-serif;
    color: whitesmoke; 
    font-size: 1rem;
    text-align: left;
    line-height: 1.4rem; 
    max-width: 500px; 
    padding-left: 0rem; 
    margin-right: 0;
    padding-bottom: 0;
  }

  .movie-page-image {
    margin-right: 1rem;
    width: auto;
    height: auto; 
    max-width:250px; 
    max-height:250px; 
    display: grid; 
    border: 2px solid black; 
  }

  .movie-page-individual-ratings {
    list-style-type: none;
    color: whitesmoke; 
    font-family: sans-serif; 
    margin: 0 auto; 
    font-size: 0.8rem; 
    line-height: 1.4; 
    padding-bottom: 2rem;
    margin-right: 2rem;
  }

  .movie-page-rating-circle {
    width: 100px; 
    height: 100px;
    line-height: 100px; 
    font-size: 25px; 
    border: 3px solid black; 
    margin: 0rem;
    float: left;
  }
  
}

@media screen and (max-width: 730px) {

  .page_content {
    text-align: center;
    float: left;
  }

  .movie-page-synopsis {
    font-family: sans-serif;
    color: whitesmoke; 
    font-size: 1rem;
    text-align: left;
    line-height: 1.4rem; 
    max-width: 450px; 
    padding-left: 0rem; 
    margin-right: 0;
    padding-bottom: 0;
  }

  .movie-page-image {
    margin-right: 1rem;
    width: auto;
    height: auto; 
    max-width:200px; 
    max-height:200px; 
    display: grid; 
    border: 2px solid black; 
  }

  .movie-page-individual-ratings {
    list-style-type: none;
    color: whitesmoke; 
    font-family: sans-serif; 
    margin: 0 auto; 
    font-size: 0.8rem; 
    line-height: 1.4; 
    padding-bottom: 2rem;
    margin-right: 2rem;
  }

  .movie-page-rating-circle {
    width: 100px; 
    height: 100px;
    line-height: 100px; 
    font-size: 25px; 
    border: 3px solid black; 
    margin: 0rem;
    float: left;
  }

  .movie-page-grid {
    display: grid;
    grid-template-columns: auto; 
    float: left; 
    padding-left: 5.5rem;
  }


  .page_tites {
    padding-right: 9rem;
  }
  
}

@media screen and (max-width: 638px) {

}

@media screen and (max-width: 630px) {
  .year-form {
    float: left;
    padding-left: 0rem;
  }

  .movie-heading {
    font-size: 10px;
    
  }

  .movie-icon-style {
    font-size: 20px;
  }

  .movie-page-grid {
    display: grid;
    grid-template-columns: auto; 
    float: left; 
    padding-left: 2.5rem;
  }

  .page_tites {
    padding-right: 10rem;
  }
}

@media screen and (max-width: 590px) {

  
  .movie-page-grid {
    display: grid;
    grid-template-columns: auto; 
    float: left; 
    padding-left: .1rem;
  }

  .profile-form-control {
    margin-left: 5rem;
  }

  .profile-form-button {
    margin-left: 5rem;
  }

  .profile-label-control {
    margin-left: 5rem;
  }

  .login-form-control {
    margin-left: 5rem;
  }

  .login-form-button {
    margin-left: 5rem;
  }

  .register_small_text {
    margin-left: 5rem;
  }

  .register-form-control {
    margin-left: 5rem;
  }

  .register-form-button {
    margin-left: 5rem;
  }
  
}

@media screen and (max-width: 557px) {

  .header {
    height: 11rem;
  }

  .rating-block {
    width: 100%;
  }

  .movie-page-synopsis {
    font-family: sans-serif;
    color: whitesmoke; 
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.5rem; 
    max-width: 500px; 
    padding-left: 0rem; 
    margin-right: 0;
    padding-bottom: 0;
  }

  .movie-page-individual-ratings {
    list-style-type: none;
    color: whitesmoke; 
    font-family: sans-serif; 
    margin: 0 auto; 
    font-size: 0.8rem; 
    line-height: 1.4; 
    padding-bottom: 2rem;
  }
  
}

@media screen and (max-width: 500px) {

  .page_content {
    text-align: center;
    float: left;
  }

  .page_tites {
    float: left;
    padding-left: 3rem;
  }

  .movie-heading {
    float: left;
    padding-left: 0rem;
    font-size: 8px;
    padding-right: 10rem;
  }

  .movie-icon-style {
    padding-top: 0.5rem;
    margin-right: 10rem;
    font-size: 20px;
  }

  .movie-page-synopsis {
    font-family: sans-serif;
    color: whitesmoke; 
    font-size: 1rem;
    text-align: left;
    line-height: 1.4rem; 
    max-width: 230px; 
    padding-left: 0rem; 
    margin-right: 0;
    padding-bottom: 0;
  }

  .movie-page-image {
    margin-left: 2.75rem;
    margin-right: 5rem;
    width: auto;
    height: auto; 
    max-width:200px; 
    max-height:200px; 
    display: grid; 
    border: 2px solid black; 
  }

  .movie-page-individual-ratings {
    list-style-type: none;
    color: whitesmoke; 
    font-family: sans-serif; 
    margin: 0 auto; 
    font-size: 0.7rem; 
    line-height: 1.4; 
    padding-bottom: 2rem;
  }

  .movie-page-rating-circle {
    width: 80px; 
    height: 80px;
    line-height: 80px; 
    font-size: 25px; 
    border: 3px solid black; 
    margin: 0rem;
    float: left;
  }

  .movie-page-grid {
    display: grid;
    grid-template-columns: auto; 
    float: left; 
    padding-left: .5rem;
  }

  .login-form-control {
    margin-right: 5rem;
  }

  .register-form-control {
    margin-right: 5rem;
  }

  .profile-form-control {
    margin-right: 5rem;
  }

  .help {
    padding-right: 10rem;
  }
}

/* Mobile */
@media screen and (max-width: 360px) {
  .movie-page-grid {
    display: grid; 
    grid-template-columns: auto; 
    float: left; 
    padding-left: 5rem;
  }
}